<h2>New Tweet!</h2>
<form class="tweet-compose" action="/tweets" method="POST">
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

  <label>
    Content
    <textarea name="tweet[content]"></textarea>
    <p>
      <strong class="chars-left">140</strong>
    </p>
  </label>
  <br>

  <label>
    Mention
    <script type="text/template">
      <select name="tweet[mentioned_user_ids][]">
      <option></option>
      <% User.all.each do |user| %>
        <option value="<%= user.id %>"><%= user.username %></option>
      <% end %>
      </select>
    </script>

    <div class="mentioned-users">
      <p>
        You're mentioning the following users:
      </p>
      <ul>
        
      </ul>
      <!-- will house all newly generated select tags -->
    </div>
  </label>

<div class="selector">
  <a href="javascript:void(0)" class="add-mentioned-user">Add Mention User</a>
</div>
  <br>

  <input type="Submit" value="Post Tweet!">
</form>
